html, .bg-color {
  background-color: #E4EBF0;
}

meter {
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: #F45D4C; }
meter[value="2"]::-webkit-meter-optimum-value { background: #F7A541; }
meter[value="3"]::-webkit-meter-optimum-value { background: #FEE5AD; }
meter[value="4"]::-webkit-meter-optimum-value { background: #A1DBB2; }

a {
  transition: all 1.5s ease !important;
  color: #FFFFFF !important;
}

a:hover, .a-other:hover {
  color: #4180AB !important;
}

.a-other:hover{
  text-decoration: underline;
}

p + p {
  margin-top: 10%;
}

i {
  color: #4180AB;
}

.input:focus {
  border-color: #8AB3CF;
}

.select select:focus {
  border-color: #8AB3CF;
}

.select:after {
  border-color: #8AB3CF;
}

.nav-toggle.is-active span {
  background-color: #4180AB;
}

.a-other {
  color: #8AB3CF !important;
}

.box {
  border-radius: 1px;
}

.button {
  background-color: #8AB3CF;
}

.button:hover {
  background-color: #E4EBF0;
}

.center-align {
  display: flex;
  align-items: center;
}

.header-color {
  background-color: #8AB3CF;
}

.header-pill-color {
  color: #FFFFFF;
}

.pallete {
  colors: #4180AB,#FFFFFF,#8AB3CF,#BDD1DE,#E4EBF0;
}
